
.text-list {
    margin: -8px 0;
    // Li Items
    &__item  {
        padding: 8px 0;
        color: $body-color;
        i {
            color: $base;
            font-size: 15px;
            margin-right: 5px;
        }
    }
}
