
.social-list {
    display: flex;
    flex-wrap: wrap; 
    margin: 0 -5px;
    &.style-two {
        .social-list__link {
            background-color: transparentize($white, .93);
            color: $white;
            &:hover, &.active {
                background-color: $base;
                color: $white !important;
            }
        }
    }
    &__item {
        margin: 0 5px;
    }
    &__link {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        transition: .3s;
        cursor: pointer;
        color: $white;
        border: 0;
        background-color: $black;
        &.active {
            background-color: $white;
            color: $base !important;
        }
        @media (max-width: 767px) {
            width: 35px;
            height: 35px;
            font-size: 14px;
        }
        &:hover {
            background-color: $white;
            color: $base;
        }
    }
}

.simple-socials {
    display: flex;
    margin: 0;
    @media (max-width: 575px) {
        justify-content: center;
    }
    &__item {
        padding: 0 10px;
        border-right: 1px solid transparentize($white, .83);
        &:first-child {
            border-left: 1px solid transparentize($white, .83);
        }
    }
    &__link {
        color: $white;
        font-size: 16px;
        &:hover {
            color: $base-two;
        }
    }
}
