.chart {
    position: relative;
    z-index: 1;
    overflow: hidden;
    &__thumb {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
        @media (max-width: 991px) {
            z-index: -1;
            width: 100%;
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: $base-two;
                opacity: .7;
            }
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}

.chart-list {
    margin: -25px 0;
    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px solid transparentize($white, .9);
        padding: 25px 0;
        &:last-child {
            border-bottom: 0; 
        }
    }
}
.chart-list {
    &__content {
        &-title {
            margin-bottom: 0;
        }
        &-name {
            color: $base;
            font-family: $body-font;
        }
    }
}

