// Flex Image Css Start
.flex-images {
    // margin: -10px;
    .item {
        border: 1px solid transparentize($white, .85);
        border-radius: 5px;
        overflow: hidden;
        margin: 10px;
        @media (max-width: 767px) {
            margin: 5px;
        }
        &:hover .gallery-item__content {
            visibility: visible;
            opacity: 1;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
// Flex Image Css End

.gallery-item {
    &__thumb {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        position: absolute;
        top: 0;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: transparentize($base, .2);
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        transition: .2s linear;
    }
    &__popup {
        &-icon {
            width: 55px;
            height: 55px;
            background-color: $black;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            font-size: 20px;
            transition: .2s linear;
            @media (max-width: 575px) {
                width: 45px;
                height: 45px;
                font-size: 16px;
            }
            &:hover {
                color: $black;
                background-color: $white;
            }
        }
    }
    &__title {
        margin-bottom: 0;
        margin-top: 20px;
    }
}
